*{
    padding: 0px;
    margin: 0px;
}
  
  body {
    font-family: "Inter", sans-serif;
    
    background-color: #1b1a19;

  }
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 75vh 0.2fr 1fr  0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
    grid-template-areas:
    "content1 content1 content1 content1 content1  "
    "content2 content2 content2 content2 content2  "
    "content3 content4 content5 content6 content7 "
    "content22 content22 content22 content22 content22  "
    "content33 content44 content55 content66 content77 "
    "content222 content222 content222 content222 content222  "
    "content333 content444 content555 content666 content777 "
    "content2222 content2222 content2222 content2222 content2222  "
    "content3333 content4444 content5555 content6666 content7777 "
    ;
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
   
  }
  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #content1 img{
    width: 100%;
    height: 100%;
   
  }
  
  #content1 {
    background: #6fffd2;
    grid-area: content1;
  
   
  }
  a{
    padding: 0px;
    margin: 0px;
  }
 
  
  #content2 {
    
    grid-area: content2;
    position: relative;
    
   
  }
  #content22 {
    
    grid-area: content22;
    position: relative;
   
  }
  #content222 {
    
    grid-area: content222;
    position: relative;
   
  }
  #content2222 {
    
    grid-area: content2222;
    position: relative;
   
  }
  
  #content3 {
    
    grid-area: content3;
    position: relative;
  
    
   
  }
  #content3333 {
    
    grid-area: content3333;
    
    position: relative;
  }
  #content33 {
    
    grid-area: content33;
    position: relative;
   
   
  }

  #content333 {
    
    grid-area: content333;
    
    position: relative;
  }
  #content4 {
   
    grid-area: content4;
    position: relative;
    
   
  }
  #content44 {
   
    grid-area: content44;
    
    position: relative;
  }
  #content444 {
   
    grid-area: content444;
    
    position: relative;
  }
  #content4444 {
   
    grid-area: content4444;
    
    position: relative;
  }
  #content5 {
    grid-area: content5;
    position: relative;
    
   
  }
  #content555 {
    grid-area: content555;
    position: relative;
   
  }
  #content5555 {
    grid-area: content5555;
    position: relative;
   
  }
  #content55 {
    grid-area: content55;
    
    position: relative;
  }
  #content6 {
    
    grid-area: content6;
    position: relative;
    
   
  }
  #content66 {
    
    grid-area: content66;
    position: relative;
   
  }
  #content666 {
    
    grid-area: content666;
    position: relative;
   
  }
  #content6666 {
    
    grid-area: content6666;
    position: relative;
   
  }
  #content7 {
    
    grid-area: content7;
    position: relative;
    
   
  }
  #content777 {
    
    grid-area: content777;
    position: relative;
   
  }
  #content77 {
    
    grid-area: content77;
    position: relative;
   
  }
  #content7777 {
    
    grid-area: content7777;
    position: relative;
   
  }
  
  

  
  /* footer {
    background: #1de9b6;
    grid-area: footer;
   
  } */
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 800px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
      grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content22"
        "content33"
        "content44"
        "content55"
        "content66"
        "content77"
        "content222"
        "content333"
        "content444"
        "content555"
        "content666"
        "content777"
        "content2222"
        "content3333"
        "content4444"
        "content5555"
        "content6666"
        "content7777"
        ;
    }
    .hidden{
        display: none;
    }
    .bestman{
       display: none;

       }
     
.info{
    display: none;
}
.btn{
    cursor: pointer;
    position: absolute;
   top: 240px;
   right: 1120px;
    background-color: rgb(214, 33, 72);
    width: 130px;
   
    z-index: 199;
    border-radius: 5%;
   }

  }

  #content1 {
    
    position: relative;
    height: 100%;
  }
 
 
    .nav {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
 
   
    }
                                                                  
    .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;
    
    }
                                                                    
    .nav li {
    margin: 0 30px;
    cursor: pointer;
    padding: 10px;
    color: #E8F6EF;
    }
    .logo {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 80px;
    }
    .active{
    border-radius: 40%;
    color: white;
    background-color: #6b6d6d;
    padding: 10px;
    }
                                                                

                                             
 
    #content2, #content22, #content222, #content2222, #content22222{
        color: #fff;
        padding-left:30px ;
        font-size:1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
  
    .movie-title {
        position: absolute;
      top: 80%;
      left: 50%;
       transform: translate(-50%, -50%);
     z-index: 2;
     color: white;
     text-shadow: 2px 2px 4px #000000;
     font-size: 2em;
     font-weight: bold;
     text-align: center;
     font-size: 16PX;
     }
     .navImg {
        position: absolute;
        width: 90px;
        height: 90px;
        top: 10px;
        left: 10px;
        transform: translate(15px,10px);
    position: fixed;
    cursor: pointer;
    z-index: 9;
                                                            
        }
        .navImg img{
            cursor: pointer;
        }
       IMG{
        max-width: 100%;
       }
       .height{
        height: 200px;
       }
       .bestman{
        height: 300px;
        height: 300px;
        position: absolute;
        z-index: 6;
        transform: translate(50px,-600px);

       }
       .info{
        position: absolute;
        z-index: 7;
        transform: translate(50px,-200px);
        max-width: 55%;
        color:#fff;
        font-size: 20px;
        line-height: 1.2;
        overflow: hidden;
       }
       .btn{
        cursor: pointer;
        position: absolute;
        transform: translate(920px,-90px);
        background-color: aqua;
        width: 130px;
        z-index: 99;
        border-radius: 5%;
       }